{
  "openapi": "3.0.3",
  "info": {
    "title": "Ticto API v2",
    "version": "2.0.0",
    "description": "API pública da Ticto para criar produtos e ofertas e ler pedidos, assinaturas e saques. Autenticação por token Bearer com escopos granulares. Todo acesso é isolado ao produtor dono do token — por construção, não por checagem por endpoint."
  },
  "servers": [
    { "url": "https://api.ticto.cloud", "description": "Produção (tokens ticto_live_)" },
    { "url": "https://sandbox.ticto.cloud", "description": "Sandbox (tokens ticto_test_)" }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Produtos", "description": "Criação e leitura de produtos." },
    { "name": "Ofertas", "description": "Criação e leitura de ofertas de um produto." },
    { "name": "Pedidos", "description": "Leitura de pedidos (paridade com a API v1)." },
    { "name": "Assinaturas", "description": "Leitura de assinaturas (paridade com a API v1)." },
    { "name": "Saques", "description": "Leitura de saques/cashouts (paridade com a API v1)." }
  ],
  "paths": {
    "/api/v2/products": {
      "get": {
        "tags": ["Produtos"],
        "summary": "Listar produtos",
        "description": "Lista os produtos do produtor autenticado, paginados. Escopo: `products:read`.",
        "operationId": "listProducts",
        "security": [{ "bearerAuth": ["products:read"] }],
        "parameters": [
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 100 }, "description": "Itens por página (máx. 100)." }
        ],
        "responses": {
          "200": {
            "description": "Lista de produtos.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductList" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Produtos"],
        "summary": "Criar produto",
        "description": "Cria um produto. O produto nasce com status **pré-aprovado** (`pre-approved`), o mesmo padrão do painel: já pode receber vendas e passa pela análise de compliance após a primeira venda. O `status` é definido pela plataforma e é **somente leitura** — não pode ser enviado nem alterado pela API. Use `is_active` (padrão `true`) para criar o produto já ativo ou inativo. Escopo: `products:write`. Exige `Idempotency-Key`.",
        "operationId": "createProduct",
        "security": [{ "bearerAuth": ["products:write"] }],
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateProduct" },
              "example": { "name": "Curso de Marketing Digital", "type": "course", "description": "Curso completo de marketing digital do zero ao avançado.", "category": "Marketing" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Produto criado com status `pre-approved`.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Product" } } }
          },
          "400": { "$ref": "#/components/responses/IdempotencyRequired" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v2/products/{hash}": {
      "get": {
        "tags": ["Produtos"],
        "summary": "Buscar produto",
        "description": "Retorna um produto pelo seu `hash`. Escopo: `products:read`. Retorna `404` se o produto não for do produtor autenticado.",
        "operationId": "getProduct",
        "security": [{ "bearerAuth": ["products:read"] }],
        "parameters": [{ "$ref": "#/components/parameters/ProductHash" }],
        "responses": {
          "200": { "description": "Produto.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Product" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/products/{hash}/offers": {
      "get": {
        "tags": ["Ofertas"],
        "summary": "Listar ofertas",
        "description": "Lista as ofertas de um produto. Escopo: `offers:read`.",
        "operationId": "listOffers",
        "security": [{ "bearerAuth": ["offers:read"] }],
        "parameters": [{ "$ref": "#/components/parameters/ProductHash" }],
        "responses": {
          "200": { "description": "Lista de ofertas.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OfferList" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "tags": ["Ofertas"],
        "summary": "Criar oferta",
        "description": "Cria uma oferta para um produto. Você envia apenas o essencial; a Ticto preenche os ~80 campos internos com padrões seguros a partir de um preset. Escopo: `offers:write`. Exige `Idempotency-Key`.",
        "operationId": "createOffer",
        "security": [{ "bearerAuth": ["offers:write"] }],
        "parameters": [
          { "$ref": "#/components/parameters/ProductHash" },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateOffer" },
              "examples": {
                "pagamento-unico": {
                  "summary": "Pagamento único",
                  "value": { "name": "Oferta padrão", "price": 19900, "charge_type": "one_time", "payment_methods": ["credit_card", "pix", "boleto"] }
                },
                "recorrente": {
                  "summary": "Assinatura mensal com trial",
                  "value": { "name": "Plano Mensal", "price": 4990, "charge_type": "recurring", "recurrence": { "interval": "monthly", "trial_days": 7 }, "payment_methods": ["credit_card"] }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Oferta criada.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Offer" } } } },
          "400": { "$ref": "#/components/responses/IdempotencyRequired" },
          "422": { "$ref": "#/components/responses/ValidationError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api/v2/products/{hash}/offers/{code}": {
      "get": {
        "tags": ["Ofertas"],
        "summary": "Buscar oferta",
        "description": "Retorna uma oferta pelo seu `code`, dentro de um produto. Escopo: `offers:read`.",
        "operationId": "getOffer",
        "security": [{ "bearerAuth": ["offers:read"] }],
        "parameters": [
          { "$ref": "#/components/parameters/ProductHash" },
          { "name": "code", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Código da oferta (ex.: `O709D4B48`)." }
        ],
        "responses": {
          "200": { "description": "Oferta.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Offer" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/orders/history": {
      "get": {
        "tags": ["Pedidos"],
        "summary": "Listar pedidos",
        "description": "Histórico de pedidos do produtor, paginado. Escopo: `orders:read`.",
        "operationId": "listOrders",
        "security": [{ "bearerAuth": ["orders:read"] }],
        "parameters": [
          { "name": "paginate", "in": "query", "schema": { "type": "integer", "default": 100, "maximum": 1000 }, "description": "Itens por página." }
        ],
        "responses": {
          "200": {
            "description": "Histórico de pedidos.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrderList" } } }
          },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/orders/summary": {
      "get": {
        "tags": ["Pedidos"],
        "summary": "Resumo de pedidos",
        "description": "Totais consolidados dos pedidos do produtor. Escopo: `orders:read`.",
        "operationId": "ordersSummary",
        "security": [{ "bearerAuth": ["orders:read"] }],
        "responses": {
          "200": {
            "description": "Totais de pedidos.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrdersSummary" },
                "example": { "total": 3, "total_items": 3, "bump_total": 0, "upsell_total": 0, "commission_sum": 27156 }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/orders/{hash}": {
      "get": {
        "tags": ["Pedidos"],
        "summary": "Buscar pedido",
        "description": "Retorna um pedido pelo seu `hash`. Escopo: `orders:read`. Retorna `404` se o pedido não for do produtor autenticado — o isolamento é garantido por construção.",
        "operationId": "getOrder",
        "security": [{ "bearerAuth": ["orders:read"] }],
        "parameters": [
          { "name": "hash", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Hash do pedido (ex.: `TOP0106WOC15DK`)." }
        ],
        "responses": {
          "200": { "description": "Detalhe do pedido.", "content": { "application/json": { "schema": { "type": "object" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/subscriptions/history": {
      "get": {
        "tags": ["Assinaturas"],
        "summary": "Listar assinaturas",
        "description": "Histórico de assinaturas do produtor, paginado. Escopo: `subscriptions:read`.",
        "operationId": "listSubscriptions",
        "security": [{ "bearerAuth": ["subscriptions:read"] }],
        "parameters": [
          { "name": "paginate", "in": "query", "schema": { "type": "integer", "default": 30, "maximum": 1000 }, "description": "Itens por página." }
        ],
        "responses": {
          "200": { "description": "Histórico de assinaturas.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/subscriptions/summary": {
      "get": {
        "tags": ["Assinaturas"],
        "summary": "Resumo de assinaturas",
        "description": "Totais consolidados das assinaturas do produtor. Escopo: `subscriptions:read`.",
        "operationId": "subscriptionsSummary",
        "security": [{ "bearerAuth": ["subscriptions:read"] }],
        "responses": {
          "200": { "description": "Totais de assinaturas.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SubscriptionsSummary" }, "example": { "active_subscriptions": 12, "active_subscriptions_sum": 148800, "delayed_subscriptions": 2, "delayed_subscriptions_sum": 9980, "canceled_subscriptions": 3, "canceled_subscriptions_sum": 0 } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/subscriptions/{id}": {
      "get": {
        "tags": ["Assinaturas"],
        "summary": "Buscar assinatura",
        "description": "Retorna uma assinatura pelo seu `id`. Escopo: `subscriptions:read`. Retorna `404` se não for do produtor autenticado.",
        "operationId": "getSubscription",
        "security": [{ "bearerAuth": ["subscriptions:read"] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "ID da assinatura." }
        ],
        "responses": {
          "200": { "description": "Detalhe da assinatura.", "content": { "application/json": { "schema": { "type": "object" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/cashouts/history": {
      "get": {
        "tags": ["Saques"],
        "summary": "Listar saques",
        "description": "Histórico de saques (cashouts) do produtor, paginado. Escopo: `cashouts:read` (dado financeiro — escopo próprio, opt-in).",
        "operationId": "listCashouts",
        "security": [{ "bearerAuth": ["cashouts:read"] }],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string" }, "description": "Filtra por status." },
          { "name": "created_after", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "created_before", "in": "query", "schema": { "type": "string", "format": "date" } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 15, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "Histórico de saques.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedList" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/cashouts/summary": {
      "get": {
        "tags": ["Saques"],
        "summary": "Resumo de saques",
        "description": "Totais consolidados dos saques do produtor. Escopo: `cashouts:read`.",
        "operationId": "cashoutsSummary",
        "security": [{ "bearerAuth": ["cashouts:read"] }],
        "responses": {
          "200": { "description": "Totais de saques.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CashoutsSummary" }, "example": { "total": 158780, "total_available": 148800, "total_under_review": 9980, "total_pending": 0, "total_reserved": 0 } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/v2/cashouts/{id}": {
      "get": {
        "tags": ["Saques"],
        "summary": "Buscar saque",
        "description": "Retorna um saque pelo seu `id`. Escopo: `cashouts:read`. Retorna `404` se não for do produtor autenticado.",
        "operationId": "getCashout",
        "security": [{ "bearerAuth": ["cashouts:read"] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "ID do saque." }
        ],
        "responses": {
          "200": { "description": "Detalhe do saque.", "content": { "application/json": { "schema": { "type": "object" } } } },
          "404": { "$ref": "#/components/responses/NotFound" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token opaco no formato `ticto_live_...` (produção) ou `ticto_test_...` (sandbox). Enviado como `Authorization: Bearer <token>`."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "UUID v4 único por operação. Garante que retries não criem recursos duplicados."
      },
      "ProductHash": {
        "name": "hash",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "description": "Hash do produto (identificador canônico da API, ex.: `PABC123`)."
      }
    },
    "schemas": {
      "CreateProduct": {
        "type": "object",
        "required": ["name", "type", "description"],
        "properties": {
          "name": { "type": "string", "maxLength": 255, "description": "Nome do produto." },
          "type": { "type": "string", "enum": ["course", "ebook", "consultancy", "mentoring", "artificial_intelligence", "other"], "description": "Tipo do produto (apenas digitais na v2). Recorrência é definida na oferta (`charge_type: recurring`), não no tipo." },
          "description": { "type": "string", "minLength": 3, "maxLength": 1000 },
          "category": { "type": "string", "maxLength": 120, "description": "Categoria (opcional)." },
          "is_active": { "type": "boolean", "default": true, "description": "Define se o produto nasce ativo (disponível) ou inativo. Opcional; padrão `true`." }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "product" },
          "id": { "type": "string", "description": "Hash do produto — identificador canônico da API.", "example": "PABC123" },
          "reference_id": { "type": "integer", "description": "ID numérico legado (reconcilia com a dashboard). Não é fronteira de segurança.", "example": 42 },
          "name": { "type": "string", "example": "Curso de Marketing Digital" },
          "type": { "type": "string", "example": "course" },
          "status": { "type": "string", "readOnly": true, "example": "pre-approved", "description": "Estado de compliance do produto, governado pela plataforma. Somente leitura: não pode ser enviado nem alterado pela API. Nasce como `pre-approved`." },
          "is_active": { "type": "boolean", "example": true, "description": "Se o produto está ativo (disponível). Controlado pelo produtor via `is_active` na criação." },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ProductList": {
        "type": "object",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Product" } },
          "meta": { "$ref": "#/components/schemas/ListMeta" }
        }
      },
      "CreateOffer": {
        "type": "object",
        "required": ["name", "price", "charge_type"],
        "properties": {
          "name": { "type": "string", "maxLength": 255 },
          "price": { "type": "integer", "minimum": 500, "description": "Preço em centavos (mín. 500 = R$5,00)." },
          "charge_type": { "type": "string", "enum": ["one_time", "recurring"] },
          "recurrence": {
            "type": "object",
            "description": "Obrigatório quando `charge_type=recurring`; proibido quando `one_time`.",
            "properties": {
              "interval": { "type": "string", "enum": ["monthly", "quarterly", "semiannually", "annually"] },
              "trial_days": { "type": "integer", "minimum": 0, "maximum": 365 },
              "cycles": { "type": "integer", "minimum": 1, "nullable": true, "description": "Número de cobranças; null = infinito." }
            }
          },
          "payment_methods": {
            "type": "array",
            "items": { "type": "string", "enum": ["credit_card", "pix", "boleto"] },
            "description": "Métodos aceitos. Padrão: todos."
          }
        }
      },
      "Offer": {
        "type": "object",
        "description": "Retorno de uma oferta. É o corpo devolvido ao criar (`POST`) e ao consultar (`GET`) — a resposta é a mesma. Campos como nome, tipo de cobrança e recorrência são de entrada (`CreateOffer`) e não são ecoados na resposta.",
        "properties": {
          "object": { "type": "string", "example": "offer" },
          "id": { "type": "string", "description": "Código da oferta — identificador canônico da API.", "example": "O709D4B48" },
          "reference_id": { "type": "integer", "description": "ID numérico legado (reconcilia com a dashboard). Não é fronteira de segurança.", "example": 11 },
          "product_id": { "type": "string", "description": "Hash do produto pai.", "example": "PABC123" },
          "price": { "type": "integer", "description": "Preço em centavos.", "example": 19900 },
          "is_active": { "type": "boolean", "example": true },
          "checkout_url": { "type": "string", "description": "Link de checkout pronto para compartilhar. Formato: base do checkout da Ticto + código da oferta.", "example": "https://checkout.ticto.app/O709D4B48" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "OfferList": {
        "type": "object",
        "description": "Lista de ofertas de um produto. Não é paginada e não traz `meta`.",
        "properties": {
          "object": { "type": "string", "example": "list" },
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Offer" } }
        }
      },
      "OrderList": {
        "type": "object",
        "description": "Histórico de pedidos, paginado (paridade 1:1 com o relatório de comissões da v1). Envelope do paginador: `data` + `links` + `meta`.",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/CommissionItem" } },
          "links": { "$ref": "#/components/schemas/PaginatorLinks" },
          "meta": { "$ref": "#/components/schemas/PaginatorMeta" }
        }
      },
      "CommissionItem": {
        "type": "object",
        "description": "Um item do histórico de pedidos (uma comissão). Espelha o relatório de comissões da v1.",
        "properties": {
          "id": { "type": "integer" },
          "type": { "type": "string", "description": "Tipo do item (main, bump, upsell).", "example": "main" },
          "commissioned_id": { "type": "integer" },
          "commissioned_name": { "type": "string" },
          "commission": { "type": "integer", "description": "Valor da comissão em centavos." },
          "producer_id": { "type": "integer" },
          "producer_name": { "type": "string" },
          "producer_email": { "type": "string" },
          "producer_document": { "type": "string" },
          "value": { "type": "integer", "description": "Valor do item em centavos." },
          "order_id": { "type": "integer" },
          "affiliates": { "type": "array", "items": { "type": "object" } },
          "transaction": { "type": "object", "description": "Dados da transação (status, método, histórico)." },
          "offer": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "code": { "type": "string" },
              "name": { "type": "string" },
              "description": { "type": "string", "nullable": true },
              "price": { "type": "integer", "description": "Em centavos." },
              "is_subscription": { "type": "boolean" },
              "interval": { "type": "integer", "nullable": true },
              "trial_days": { "type": "integer", "nullable": true },
              "first_charge_price": { "type": "integer", "nullable": true }
            }
          },
          "product": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "name": { "type": "string" },
              "is_subscription": { "type": "boolean" },
              "type": { "type": "string" },
              "refund_deadline": { "type": "integer" },
              "has_invoice_integration": { "type": "boolean" }
            }
          },
          "customer": { "type": "object", "description": "Dados do comprador (anonimizados quando o afiliado não tem acesso aos dados do cliente)." },
          "order": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "hash": { "type": "string" },
              "has_bump": { "type": "boolean" },
              "from_mozart": { "type": "boolean" },
              "is_upsell": { "type": "boolean" },
              "type": { "type": "string" }
            }
          },
          "order_item": {
            "type": "object",
            "properties": {
              "id": { "type": "integer" },
              "amount": { "type": "integer" },
              "status": { "type": "string" },
              "quantity": { "type": "integer" }
            }
          },
          "has_two_cards": { "type": "boolean" },
          "bounced_email": { "type": "boolean", "nullable": true },
          "subscription_id": { "type": "integer", "nullable": true },
          "is_smart_installment": { "type": "boolean" },
          "approved_date": { "type": "string", "format": "date-time", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "OrdersSummary": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "description": "Total de pedidos (sem bumps)." },
          "total_items": { "type": "integer" },
          "bump_total": { "type": "integer" },
          "upsell_total": { "type": "integer" },
          "commission_sum": { "type": "integer", "description": "Soma das comissões em centavos." }
        }
      },
      "SubscriptionsSummary": {
        "type": "object",
        "properties": {
          "active_subscriptions": { "type": "integer" },
          "active_subscriptions_sum": { "type": "integer", "description": "Em centavos." },
          "delayed_subscriptions": { "type": "integer" },
          "delayed_subscriptions_sum": { "type": "integer", "description": "Em centavos." },
          "canceled_subscriptions": { "type": "integer" },
          "canceled_subscriptions_sum": { "type": "integer", "description": "Em centavos." }
        }
      },
      "CashoutsSummary": {
        "type": "object",
        "properties": {
          "total": { "type": "integer", "description": "Saldo total em centavos (disponível + em análise + pendente + reservado)." },
          "total_available": { "type": "integer", "description": "Em centavos." },
          "total_under_review": { "type": "integer", "description": "Em centavos." },
          "total_pending": { "type": "integer", "description": "Em centavos." },
          "total_reserved": { "type": "integer", "description": "Em centavos." }
        }
      },
      "PaginatedList": {
        "type": "object",
        "description": "Envelope do paginador (paridade com a v1). Os itens de `data` espelham o relatório correspondente da v1.",
        "properties": {
          "data": { "type": "array", "items": { "type": "object" } },
          "links": { "$ref": "#/components/schemas/PaginatorLinks" },
          "meta": { "$ref": "#/components/schemas/PaginatorMeta" }
        }
      },
      "ListMeta": {
        "type": "object",
        "description": "Paginação das listas nativas da v2 (produtos).",
        "properties": {
          "page": { "type": "integer" },
          "per_page": { "type": "integer" },
          "total": { "type": "integer" }
        }
      },
      "PaginatorLinks": {
        "type": "object",
        "properties": {
          "first": { "type": "string", "nullable": true },
          "last": { "type": "string", "nullable": true },
          "prev": { "type": "string", "nullable": true },
          "next": { "type": "string", "nullable": true }
        }
      },
      "PaginatorMeta": {
        "type": "object",
        "description": "Metadados de paginação dos endpoints de leitura (paginador do Laravel, paridade com a v1).",
        "properties": {
          "current_page": { "type": "integer" },
          "from": { "type": "integer", "nullable": true },
          "to": { "type": "integer", "nullable": true },
          "per_page": { "type": "integer" },
          "last_page": { "type": "integer" },
          "total": { "type": "integer" },
          "path": { "type": "string" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "insufficient_scope" },
          "message": { "type": "string", "example": "Token is missing the required ability: orders:read." },
          "request_id": { "type": "string", "nullable": true }
        }
      },
      "ValidationErrorBody": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "validation_failed" },
          "message": { "type": "string", "example": "The request payload is invalid." },
          "request_id": { "type": "string", "nullable": true },
          "details": { "type": "array", "items": { "type": "string" }, "example": ["The name field is required."] }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Token ausente, inválido ou expirado.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": "unauthorized", "message": "Invalid or expired token.", "request_id": null } } }
      },
      "Forbidden": {
        "description": "O token não tem o escopo exigido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": "insufficient_scope", "message": "Token is missing the required ability: orders:read.", "request_id": null } } }
      },
      "NotFound": {
        "description": "Recurso inexistente ou que não pertence ao produtor autenticado (o isolamento não confirma a existência de recursos de terceiros).",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": "not_found", "message": "Resource not found.", "request_id": null } } }
      },
      "ValidationError": {
        "description": "Payload inválido.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ValidationErrorBody" } } }
      },
      "IdempotencyRequired": {
        "description": "Operação de escrita sem o header `Idempotency-Key`.",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" }, "example": { "error": "idempotency_key_required", "message": "POST requests must include an Idempotency-Key header.", "request_id": null } } }
      }
    }
  }
}
